<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ProjectOne</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ApprovedRequests</display-name>
    <servlet-name>ApprovedRequests</servlet-name>
    <servlet-class>com.revature.servlets.ApprovedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovedRequests</servlet-name>
    <url-pattern>/ApprovedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveOrDenyRequests</display-name>
    <servlet-name>ApproveOrDenyRequests</servlet-name>
    <servlet-class>com.revature.servlets.ApproveOrDenyRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveOrDenyRequests</servlet-name>
    <url-pattern>/ApproveOrDenyRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRequest</display-name>
    <servlet-name>DeleteRequest</servlet-name>
    <servlet-class>com.revature.servlets.DeleteRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRequest</servlet-name>
    <url-pattern>/DeleteRequest</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.revature.servlets.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/manager/*</url-pattern>
     <url-pattern>/employee/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeTree</display-name>
    <servlet-name>EmployeeTree</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeTree</servlet-name>
    <url-pattern>/EmployeeTree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invalidate</display-name>
    <servlet-name>Invalidate</servlet-name>
    <servlet-class>com.revature.servlets.Invalidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalidate</servlet-name>
    <url-pattern>/Invalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerTree</display-name>
    <servlet-name>ManagerTree</servlet-name>
    <servlet-class>com.revature.servlets.ManagerTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerTree</servlet-name>
    <url-pattern>/ManagerTree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEmployee</display-name>
    <servlet-name>NewEmployee</servlet-name>
    <servlet-class>com.revature.servlets.NewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployee</servlet-name>
    <url-pattern>/NewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRequest</display-name>
    <servlet-name>NewRequest</servlet-name>
    <servlet-class>com.revature.servlets.NewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRequest</servlet-name>
    <url-pattern>/NewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingRequests</display-name>
    <servlet-name>PendingRequests</servlet-name>
    <servlet-class>com.revature.servlets.PendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingRequests</servlet-name>
    <url-pattern>/PendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptImage</display-name>
    <servlet-name>ReceiptImage</servlet-name>
    <servlet-class>com.revature.servlets.ReceiptImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptImage</servlet-name>
    <url-pattern>/ReceiptImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfo</display-name>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>com.revature.servlets.UpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/UpdateInfo</url-pattern>
  </servlet-mapping>
</web-app>